<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<style>
.backtologin {
  display: inline-block;
  margin: auto;
  padding: 8px 18px;
  background-color: #e46701; 
  color: #38b30c; 
  border-radius: 20px;
  font-family: 'Georgia', serif;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.backtologin:hover {
  background-color: #703434; 
  color: #070501;
  transform: scale(1.05);
}

</style>
<body>
  <section class="m-form">
    <div class="container">
      <div class="form-box login">
        <form method="POST">
          <h1>Reset Password</h1>
          <div class="input-box">
            <input type="password" name="password" placeholder="Enter new password" required />
          </div>
          <button type="submit" class="btn">Reset Password</button>
        </form>
        <div class="backtologin">
          <a href="{{ url_for('login') }}" >Back to Login</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
